    .container-register{
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .container-register-form{
      padding: 50px 80px 50px 50px;
      background-color: #7fad39;
      border-radius: 15px;
    }