.infoform {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 1.5rem;
    font-weight: 500;

  }
  label {
    margin-top: 1rem;
    font-weight: 700;
  }
  input {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 0.25rem;
    outline: none;
  }
  
  button {
    cursor: pointer;
    align-self: flex-end;
    padding: 0.5rem;
    background-color: rgb(104, 187, 255);
    color: white;
    border: none;

    border-radius: 8px;
  }
  
  .errorMsg {
    max-width: 100%;
  
    color:rgb(248, 106, 106);
  }

header {
  font-size: 1.5rem;
  color:rgb(119, 119, 252);
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
}
.container-Register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(239, 240, 255);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 1rem 2rem 1rem 2rem;

}
.Register {
  background-color: white;
  padding: 2rem;
  width: 800px;
  height: 800px;
  border-radius: 14px;
  box-shadow: 0px 0px 14px 3px rgb(222, 224, 250);
}
